html{
    height: 100%;
}

body{
    background-color: white;
    overflow-y: hidden;
}

span{
    color: white;
}

ul{
    list-style-type: none;
    padding:0;
}

.site_content_head{
    height: 100%;
}

.site_backgound{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
    height: 100%;
}

.site_content {
    height: 100%;
}

.container_site {
    height: 100%;
    padding: 50px 150px;
}

.height_100{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 98%;
    height: 12%;
    background-color: #5a6f8c;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 rgba(0, 0, 0, 1);
}

.site_left{
    width: 40%;
    padding: 0;
    height: 100%;
}
.site_right{
    width: 60%;
    padding: 0;
    background-color: #46566d;
    margin: 50px 0;
    animation-duration:1.5s;
    animation-direction:alternate;
    animation-timing-function:ease-in-out;
}


@-webkit-keyframes an1 {
    0%{width: 60%;}
    50%{width: 0;}
    100%{width: 60%;}
}
.site_content_head{
    width: 100%;
    display: flex;
}
.menu2{
    display: none;
}
.menu2 .list_item{
    width: 20%;
    padding: 15px;
    color: white;
}
.menu{
    background-color: #46566d;
    color: white;
    flex-basis: 90px;
    flex-direction: column;
    margin: 50px 10px 50px 0;
    justify-content: space-between;
    border-radius: 5px;
}

.menu-ul{
    position: relative;
    height: 100%;
}
.menu_item{
    padding: 15px;
}
.menu_item span{
    font-size: 20px;
}
.menu-btn, .download{
    width: 100%;
    height: 70px;
}
.download i{
    font-size: 20px;
}
.glyphicon_item span{
    font-size: 20px;
}
.menu_list li{
    margin-bottom: 2em;
}
.avatar{
    width: 100%;
    position: relative;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.image{
    background-size:cover;
    overflow: hidden;
    background-position: center;
    height: 48%;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.image::before {
    z-index: 0;
    position: absolute;
    left: 0px;
    top:0px;
    content: "";
    height: 60%;
    border-top:400px solid #5a6f8c;
    border-left: 610px solid #f2f2f2;
}

.hexagon {
    width: 120px;
    height: 160px;
    background: #5a6f8c;
    position: absolute;
    top:70px;
    left: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 1);
}
.hexagon:before {
    content: "";
    position: absolute;
    top: 60px;
    left: 59px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 38px solid #5a6f8c;
    transform: rotate(90deg);
}
.hexagon:after {
    content: "";
    position: absolute;
    bottom: 60px;
    right: 59px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 38px solid #5a6f8c;
    transform: rotate(90deg);
}
.img{
    position: absolute;
    top: 75px;
    left:165px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
}
.infor_social{
    height: 50%;
    position: absolute;
    bottom:0;
    width: 100%;
}

.social_list ul{
    justify-content: center;
}

.social_list li{
    font-size: 18px;
    width: 25%;
}

.social_list li .social_item {
    cursor: pointer;
}

.infor_social .name h2{
    font-family: Poppins;
    font-size: 45px;
    color: #323d4e;
    margin: 0 auto;
    padding: 15px;
}
.infor_social .name{
    margin: 0 auto;
    width: 80%;
}
.infor_social .name::before {
    content: "";
    width: 60%;
    left: 50px;
    position: absolute;
    height: 51px;
    border-top: 0.5px solid #323d4e;
}
.infor_social .name::after {
    content: "";
    width: 65%;
    top:5px;
    left: 50px;
    position: absolute;
    height: 51px;
    border-top: 0.5px solid #323d4e;
}
.infor_social .name h2::after {
    content: "";
    width: 60%;
    right: 50px;
    position: absolute;
    height: 55px;
    border-bottom: 0.5px solid #323d4e;
}
.infor_social .name h2::before {
    content: "";
    width: 65%;
    right: 50px;
    position: absolute;
    height: 60px;
    border-bottom: 0.5px solid #323d4e;
}
.infor_social .job{
    margin-top:20px;
}
.infor_social .job p{
    font-family: Poppins;
    color: #50627c;
    font-size: 18px;
}
.infor_social .social{
    margin: 20px auto;
    width: 70%;
}
.infor_social .social ul{
    display: flex;
    flex-basis: 50px;
}
.site_right{
    height: 85%;
}

.start_theme {
    width: 0;
}

.site_content_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

/* width */
.site_content_page::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

/* Track */
.site_content_page::-webkit-scrollbar-thumb {
    background-color: #7388a5;
}

.site_content_page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
