html{
    height: 100%;
}

body{
    background-color: white;
    overflow-y: hidden;
}

span{
    color: white;
}

ul{
    list-style-type: none;
    padding:0;
}

.site_content_head{
    height: 100%;
}

.site_backgound{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
    height: 100%;
}

.site_content {
    height: 100%;
    background: linear-gradient(to bottom right,#85898a 0%,#e5e6e8 100%);
}

.square-item {
    position: absolute;
    bottom: -1200px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: rgba(255,255,255,.1);;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.square-2 {
    width: 400px;
    height: 400px;
    left: 15%;
    transform: rotate(45deg);
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.square-3 {
    width: 150px;
    height: 150px;
    left: 25%;
    transform: rotate(70deg);
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    animation-delay: 4s;
}
.square-4 {
    width: 175px;
    height: 175px;
    left: 50%;
    transform: rotate(70deg);
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    animation-delay: 1s;
}
.square-5 {
    width: 300px;
    height: 300px;
    left: 60%;
    transform: rotate(50deg);
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    animation-delay: 2s;
}

.square-6 {
    width: 150px;
    height: 150px;
    left: 0;
    transform: rotate(50deg);
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    animation-delay: 7s;
}

.square-7 {
    width: 450px;
    height: 450px;
    right: 100px;
    transform: rotate(50deg);
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    animation-delay: 5s;
}

@keyframes example {
    0%   {bottom: -1200px;}
    100% {transform: rotate(360deg); bottom:0}
}

.container_site {
    height: 100%;
    padding: 50px 150px;
}

.height_100{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    position: relative;
}

.menu2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 98%;
    height: 12%;
    background-color: #5a6f8c;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 rgba(0, 0, 0, 1);
}

.site_left{
    width: 40%;
    padding: 0;
    height: 100%;
    z-index: 1;
    justify-content: left;
}
.site_right{
    width: 60%;
    padding: 0;
    background-color: #46566d;
    margin: 50px 0;
    animation-duration:1.5s;
    animation-direction:alternate;
    animation-timing-function:ease-in-out;
}


@-webkit-keyframes an1 {
    0%{width: 60%;}
    50%{width: 0;}
    100%{width: 60%;}
}
.site_content_head{
    width: 100%;
    display: flex;
}
.menu2{
    display: none;
}
.menu2 .list_item{
    width: 20%;
    padding: 15px;
    color: white;
}
.menu{
    background-color: #f2f2f2;
    color: #323232;
    flex-basis: 90px;
    flex-direction: column;
    margin: 50px 10px 50px 0;
    justify-content: space-between;
    border-radius: 5px;
    display: flex;
}

.menu-ul{
    position: relative;
    height: 100%;
}

.menu_item{
    padding: 15px;
    cursor: pointer;
}

.color-active {
    color: #4c7753 !important;
}

.border_menu_item {
    background-color: #ddd;
    margin: 3vh 0;
    height: 1px;
    width: 100%;
}

.menu_item span{
    font-size: 20px;
    color: #323232;
}

.menu-btn, .download{
    width: 100%;
    height: 70px;
}
.download i{
    font-size: 20px;
}
.glyphicon_item span{
    font-size: 20px;
    color: #323232;
}

.avatar{
    width: 100%;
    position: relative;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.image{
    background-size:cover;
    overflow: hidden;
    background-position: center;
    height: 48%;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background: linear-gradient(11deg, rgba(199,198,208,1) 0%, rgba(183,183,190,1) 44%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
}

.image::after{
    content: '';
    position: absolute;
    bottom: -63%;
    width: 100%;
    height: 70%;
    left: auto;
    right: -25%;
    background: #f2f2f2;
    transform: rotate(
            -8deg);
    -webkit-transform: rotate(
            -8deg);

}

.image::before{
    content: '';
    position: absolute;
    left: -12%;
    bottom: -66%;
    width: 100%;
    height: 70%;
    background: #f2f2f2;
    transform: rotate(
            10deg);
    -webkit-transform: rotate(
            10deg);
}

/*.image::before {*/
/*    z-index: 0;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    top:0px;*/
/*    content: "";*/
/*    height: 60%;*/
/*    border-top:400px solid #5a6f8c;*/
/*    border-left: 610px solid #f2f2f2;*/
/*}*/

.hexagon {
    width: 120px;
    height: 160px;
    background: #5a6f8c;
    position: absolute;
    top:70px;
    left: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 1);
}
.hexagon:before {
    content: "";
    position: absolute;
    top: 60px;
    left: 59px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 38px solid #5a6f8c;
    transform: rotate(90deg);
}
.hexagon:after {
    content: "";
    position: absolute;
    bottom: 60px;
    right: 59px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 38px solid #5a6f8c;
    transform: rotate(90deg);
}
.img{
    position: absolute;
    top: 75px;
    left:165px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
}
.infor_social{
    height: 50%;
    position: absolute;
    bottom:0;
    width: 100%;
}

.social_list ul{
    justify-content: center;
}

.social_list li{
    font-size: 18px;
    width: 25%;
}

.social_list li .social_item {
    cursor: pointer;
}

.infor_social .name h2{
    font-family: Poppins;
    font-size: 45px;
    color: #323d4e;
    margin: 0 auto;
    padding: 15px;
}
.infor_social .name{
    margin: 0 auto;
    width: 80%;
}
.infor_social .name::before {
    content: "";
    width: 60%;
    left: 50px;
    position: absolute;
    height: 51px;
    border-top: 0.5px solid #323d4e;
}
.infor_social .name::after {
    content: "";
    width: 65%;
    top:5px;
    left: 50px;
    position: absolute;
    height: 51px;
    border-top: 0.5px solid #323d4e;
}
.infor_social .name h2::after {
    content: "";
    width: 60%;
    right: 50px;
    position: absolute;
    height: 55px;
    border-bottom: 0.5px solid #323d4e;
}
.infor_social .name h2::before {
    content: "";
    width: 65%;
    right: 50px;
    position: absolute;
    height: 60px;
    border-bottom: 0.5px solid #323d4e;
}
.infor_social .job{
    margin-top:20px;
}
.infor_social .job p{
    font-family: Poppins;
    color: #50627c;
    font-size: 18px;
}
.infor_social .social{
    margin: 20px auto;
    width: 70%;
}
.infor_social .social ul{
    display: flex;
    flex-basis: 50px;
}
.site_right{
    height: 92%;
    width: 60%;
    top: -2%;
    position: absolute;
    left: 40%;
    z-index: 0;
}

.start_theme {
    width: 0;
}

.site_content_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 3vh 0;
    color: #323232;
    font-family: 'Outfit', sans-serif;
}

/* width */
.site_content_page::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

/* Track */
.site_content_page::-webkit-scrollbar-thumb {
    background-color: #808080;
}

.site_content_page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.site_content_page::before {
    content: '';
    height: 3vh;
    width: 99%;
    background-color: #f2f2f2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.site_content_page::after {
    content: '';
    height: 3vh;
    width: 99%;
    background-color: #f2f2f2;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.border_title{
    margin-top: 3vh;
    height: 1px;
    width: 100%;
    background: radial-gradient(ellipse at left,#ddd 0%,rgba(255,255,255,0) 70%);
}

.container_page .item {
    margin-bottom: 5rem;
}

.container_page .item .title {
    padding: 0 3vh;
    font-size: 2.5rem;
}

.container_page .item .title .first-title {
    color: #4c7753;
}

.container_page .content {
    font-family: 'Poppins';
    padding: 3vh;
    font-size: 13pt;
}

.container_page .quote .content {
    display: flex;
}

.container_page .content .quote_content {
     padding: 0 2vh;
}

.container_page .content .quote_icon {
    font-size: 10pt;
    color: #323232;
}

.container_page .content .quote_icon_right {
    position: relative;
}

.container_page .content .quote_icon_right i {
    position: absolute;
    bottom: 0;
}


.container_page .quote .author {
    text-align: right;
    margin-right: 30pt;
    font-size: 12pt;
}

.container_page .content .list-favorites {
    display: flex;
    flex-wrap: wrap
}

.container_page .content .list-favorites .favorite-item {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.container_page .content .list-favorites .favorite-item .box {
    width: 97%;
}

.container_page .content .list-favorites .favorite-item .favorite-item-image i {
    font-size: 20pt;
    margin-bottom: 15px;
}

.container_page .content .list-favorites .favorite-item .border_right {
    width: 3px;
    height: 100%;
    background: radial-gradient(ellipse at top,#ddd 0%,rgba(255,255,255,0) 70%);
}


.page_contact {
    top: 30%;
    opacity: 0;
    z-index: -1;
}

.page_blog {
    top: 30%;
    opacity: 0;
    z-index: -1;
}


.page_disable {
    top: 30% !important;
    opacity: 0 !important;
}


/*page contact*/

.container_contact .map{
    padding: 80px;
    display: flex;
}

.container_contact .map #wpgmza_map{
    z-index: 0;
}

.container_contact .form_contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


/*page blog*/

.container_blog .content a {
    color: #323232;
}

.container_blog .content .item-blog:hover .title {
    color: #4c7753;
}

.container_blog .content .item-blog:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_blog .content .item-blog {
    margin-bottom: 20px;
    border-radius: 5px;
}

.container_blog .content .item-blog .feature-image{
    position: relative;
    height: 250px;
    width: 100%;
    padding-top: 56.25%;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 5px;
    margin-top: 15px;
}

.container_blog .content .item-blog .feature-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

.container_blog .content .item-blog .create-date {
    margin: 2rem 0;
}

.container_blog .content .item-blog .create-date span {
    color: #4c7753;
    border: 1px solid #4c7753;
    padding: 2px 5px;
}

.container_blog .content .item-blog .content-blog {
    font-family: 'Outfit', sans-serif;
}

.container_blog .content .item-blog .content-blog .title {
    font-weight: 500;
}

.container_blog .content .item-blog .content-blog .des {
    color: #646464;
}

